* {
	background: url("../pictures/kremlin.png") red no-repeat left center;
}

body {
	color: #fff;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
}

#score, #level {
	color: #000;
	font-weight: bold;
}

canvas {
	border: solid .2em #3bd2ed;
	height: 90vh;
}